* {
  line-height: 24px;
  list-style: none;
  text-decoration: none;
}
body {
  background: #fff;
}
.c_primary {
  color: #ffe600;
}
.c_secondary {
  color: #ff0000;
}
.c_success {
  color: #00bf71;
}
.c_text {
  color: #8e8e8e;
  font-size: 12px;
}
.content-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.min-100-vh {
  min-height: 100vh;
}
.custom_card_product {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}
.cursor {
  cursor: pointer;
}
.custom-img-product {
  border-radius: 10px;
  border: 1px solid #8e8e8e;
}
/* overwride css */
.v-text-field > .v-input__control > .v-input__slot > .v-text-field__slot,
.v-file-input .v-file-input__text {
  padding-top: 6px;
}

.theme--light.v-select .v-select__selections {
  padding-top: 15px !important;
}
.mdi:before,
.mdi-set {
  margin-top: 6px !important;
}
.v-breadcrumbs__item {
  color: red !important;
}
.v-breadcrumbs__item--disabled {
  color: #8e8e8e !important;
  pointer-events: none;
}
