* {
  line-height: 24px;
  list-style: none;
  text-decoration: none;
}
body {
  background: #fff;
}
.c_primary {
  color: #ffe600;
}
.c_secondary {
  color: #ff0000;
}
.c_success {
  color: #00bf71;
}
.c_text {
  color: #8e8e8e;
  font-size: 12px;
}
.content-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.min-100-vh {
  min-height: 100vh;
}
.v-text-field > .v-input__control > .v-input__slot > .v-text-field__slot {
  padding-top: 6px;
}
.mdi:before,
.mdi-set {
  margin-top: 6px !important;
}
.custom_card_product {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}
.cursor {
  cursor: pointer;
}
